@tailwind base;
@tailwind components;
@tailwind utilities;

.exam-logo {
    height: 40px;
}
.sidebar {
    width: 200px;
}
.side-h-screen {
    height: calc(100vh - 188px);
}
.sign-in, .sign-up {
    margin: auto;
    display: block;
    width: 300px;
}
