@tailwind base;
@tailwind components;
@tailwind utilities;

.exam-logo {
    height: 40px;
}
.sidebar {
    width: 200px;
}
.side-h-screen {
    height: calc(100vh - 100px);
}
.sign-in, .sign-up {
    margin: auto;
    display: block;
    width: 400px;
}

.input-text {
    border: 1px solid slategray;
    border-radius: 5px;
}
.student-chart {
    display: block;
    float: inline-start;
    max-width: 520px;
    height: 400px;
}
.chart-section {
    min-height: calc(100vh - 136px);
}
